.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  @media (max-width: 600px) {
    .flexCol {
      flex-direction: column;
    }
  }
 
  .spanTitle {
    font-weight: 600;
    margin-right: 10px;
  }

  .col {
    flex:1;
    padding: 0;
  }





